body {
  background-color: rgb(254, 254, 255);
}

.game {
  margin-top: 150px;
}

.board_row {
  display: flex;
  width: 300px;
  margin: auto;

}

button {
  align-items: center;
  width: 100px;
  height: 100px;
}

.status_game {
  margin-top: -80px;
  font-size: larger;
  margin-left: 720px;
  position: absolute;
}